[submodule "fresh_air_control/lib/BME280/src"]
	path = fresh_air_control/lib/BME280/src
	url = https://github.com/boschsensortec/BME280_driver.git
[submodule "comms_test/components/esp-modbus"]
	path = comms_test/components/esp-modbus
	url = https://github.com/espressif/esp-modbus.git
