[submodule "fresh_air_control/lib/BME280/src"]
	path = shared_libs/BME280/src
	url = https://github.com/boschsensortec/BME280_driver.git
[submodule "components/esp-modbus"]
	path = components/esp-modbus
	url = https://github.com/metcalf/esp-modbus.git
	branch = v1.0.12
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.3
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/metcalf/lvgl_esp32_drivers.git
[submodule "components/i2c_manager"]
	path = components/i2c_manager
	url = https://github.com/metcalf/i2c_manager.git
[submodule "shared_libs/scd40"]
	path = shared_libs/scd40
	url = git@github.com:metcalf/embedded-i2c-scd4x.git
[submodule "controller/lib/date"]
	path = controller/lib/date
	url = https://github.com/HowardHinnant/date
[submodule "shared_libs/embedded-sts"]
	path = shared_libs/embedded-sts
	url = git@github.com:metcalf/sensirion-embedded-sts.git
